.chromeframe
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

#menu-mobile
  display: none

.jPM-specific
  display: none

#trigger-on
  background: #3684ab
  box-shadow: 0 1px 10px #222
  font-family: "museo-sans","Museo Sans","Helvetica Neue",Helvetica,Arial,sans-serif
  font-weight: 700
  display: block
  position: fixed
  top: 0
  right: 7.5%
  padding: .25em 1em
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 5px
  border: 1px solid #1b5572
  border-top: none
  text-decoration: none
  text-shadow: 0 -1px 1px #222
  color: #f7f7f7

.jPanelMenu .main
  background: #317ca2
  box-shadow: 0 1px 5px rgba(34,34,34,0.5)
  position: fixed
  top: 0
  width: 85%
  max-width: none
  height: 50px
  margin: 0
  padding: 0 7.5%
  border-bottom: 1px solid #1b5572
  z-index: 10

.jPanelMenu .main .logo a,.jPanelMenu .main .menu-trigger
  display: block
  height: 100%
  text-shadow: 0 -1px 1px #222
  line-height: 50px
  color: #f7f7f7

.jPanelMenu .main .logo
  font-family: "museo-sans","Museo Sans","Helvetica Neue",Helvetica,Arial,sans-serif
  font-weight: 700
  float: none
  width: 60%
  margin: 0 auto

.jPanelMenu .main .logo a
  position: static

.jPanelMenu .main .logo a: before
  display: none !important

.jPanelMenu .main .menu-trigger
  position: absolute
  top: 0
  left: 0
  padding: 0 1.5em
  font-size: 1.2em
  line-height: 57.5px

.jPanelMenu .main .menu-trigger: active
  text-shadow: 0 -1px 1px #222,0 0 50px #f7f7f7

.jPanelMenu .main nav
  text-indent: -9999px

#jPanelMenu-menu
  background: #3b3b3b

#jPanelMenu-menu ul
  border-bottom: 1px solid #484848

#jPanelMenu-menu li a
  background: #3b3b3b
  font-weight: 700
  display: block
  padding: 0.5em 5%
  border-top: 1px solid #484848
  border-bottom: 1px solid #2e2e2e
  text-decoration: none
  text-shadow: 0 -1px 2px #222
  color: #f7f7f7

#jPanelMenu-menu li a: hover,#jPanelMenu-menu li a: focus
  background: #404040

#jPanelMenu-menu li a: active
  background: #363636
  box-shadow: 0 2px 7px #222 inset
  border-top-color: #222
  padding-top: 0.55em
  padding-bottom: 0.45em

.jPanelMenu-panel
  box-shadow: 0 0 25px #222

