.img_flex {
  width: 100%;
}
.fix {
  overflow: hidden;
}
.logo {
  position: relative;
}
.logo:before {
  content: ' ';
  position: absolute;
  width: 30px;
  height: 0;
  left: -30px;
  top: 12px;
  border-width: 20px 10px;
  border-style: solid;
  border-color: #999 #999 #999 transparent;
}
.logo:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #666 #666 transparent transparent;
}
.block {
  display: block !important;
}
.paddingx0 {
  padding: 0 !important;
}
#map {
  height: 170px;
}
#off-air-contact {
  display: none;
}
