vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)
box-sizing()
  vendor('box-sizing',arguments)
box-shadow()
  vendor('box-shadow', arguments)

text-shadow()
  vendor('text-shadow', arguments)

background-image()
  vendor('background-image', arguments)

/* ====================== FLEXBOX ====================== */
display-box()
  display -webkit-box
  display -moz-box
  display box

box-pack()
  vendor('box-pack', arguments)

box-flex()
  vendor('box-flex', arguments)

box-orient()
  vendor('box-orient', arguments)

/* ====================== TRANSITIONS ====================== */
transition()
  vendor('transition', arguments)

transition-delay()
  vendor('transition-delay', arguments)

transform()
  vendor('transform', arguments)
/*======================== GRADIANTS ============================*/
gr-lineal(up,down)
  background: up; /* Old browsers */
  background: -moz-linear-gradient(top, up 0%, down 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,up), color-stop(100%,down)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, up 0%,down 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, up 0%,down 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, up 0%,down 100%); /* IE10+ */
  background: linear-gradient(to bottom, up 0%,down 100%); /* W3C */