@import "__vendor.styl"

/* ====================== FONT-FACE ====================== */

color = #16A6B6
color_secondary = #BFBFBF
color_cancel    = #EE6557
color_accept    = #2D9E36
color_black     = #000000
color_yellow    = #F3D316
color_html5     = #E44D26

bck_lightest    = #fff
bck_light       = #f7f7f7
bck_dark        = #282828
bck_darkest     = #181818
bck_sky         = #5891BC
bck_green       = #2D9E36


redounded       = 10px 

body
  color: #000
  font-size: 1em
  line-height: 1.2
  font-family: "overlock"
  font-weight: 300

  & > header
    &.solid
      background: #111
    &.underline
      &.color 
        &.white
          border-bottom: solid #fff 1px
    & nav a
      color: rgba(255,255,255,0.6)
      &:hover, &:active
        color: #fff
    

  & > section 
    &.underline
      &.right
        border-right : 1px solid #fff
      &.color 
        &.white
          border-bottom: solid #fff 1px
        &.default
          border-bottom: solid #bbb 1px

  & hr
    border-style: solid
    border-color: bck_light
    margin: 20px 0
    padding: 0

  /* ====================== NAVIGATION ====================== */
  & nav
    &.group a
      border-left: solid #ccc 1px
      padding-top 15px
      padding-bottom 15px
      &, & > .icon
        color: #888
      &:hover, &:active, &.active
        color: #fff
        background: #000
        & > .icon
          color: #000
      &:last-child
        border-right: solid #ccc 1px

  /* ====================== BACKGROUNDS ====================== */
  & .bck
    &.lightest
      background-color: bck_lightest
    &.light
      background-color: bck_light
    &.dark
      background-color: bck_dark
    &.darkest
      background-color: bck_darkest
    &.theme
      background-color: color
    &.accept
      background-color: color_accept
    &.cancel
      background-color: color_cancel
    &.sky
      background-color:bck_sky
    &.green
      background-color:bck_green
    &.line
      border-right : 1px solid #fff
      min-height : 260px 
    &.white
      background-color: #fff
    &.sky-blue
      background-color #8AEAF8
    &.rounded
      border-radius: 15px;
    &.menu-consama
      background-image: url('../../images/patterns/pattern-dark-3.png')  
    &.consama
      background-image url('../images/pattern-consama.png') 
    &.sky-tag-yetsu
      background-color #CDF3FE
    &.glass
      //background : url("../images/patterns/pattern_004.png") repeat #C6C4C0
      background : url("../images/pattern_004.png") repeat #C6C4C0
    /*GRADIANTS*/  
    &.gradiant
      &.sky
        gr-lineal(#5998be,#a6d5e9) 
      &.yetsu
        gr-lineal( #ffb07c, #ff7400)
      /*Image background */
    &.image 
      &.pattern-dark
        background-image: url('../../yetsu-2013/images/patterns/pattern_183.png')
      &.pattern-dark2
        background-image: url('../../yetsu-2013/images/patterns/black_thread.png')
      &.pattern-dark3
        background-image: url('../../yetsu-2013/images/patterns/pattern-dark-3.png')    
      &.pattern-dark4
        background-image: url('../../yetsu-2013/images/patterns/pattern-dark-4.png')
      &.pattern-dark5
        background-image: url('../images/pattern-dark-5.png')  
        //background-image: url('../../yetsu-2013/images/patterns/pattern-dark-5.png')  
      // background cover
      &.landing-yetsu
        background: url('../../images/landing-yetsu.jpg') no-repeat center center fixed 
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-size: cover

  /* ====================== TEXT ====================== */
  & .text
    &.espaced
      line-height 1.5em
    &.shadow
      text-shadow 1px 1px 1px rgba(0,0,0,0.9)
    &.color
      &.white
        color: #fff
      &.theme
        color: color
      &.secondary
        color: color_secondary
      &.accept
        color: color_accept
      &.cancel
        color: color_cancel
      &.black
        color: color_black
      &.yellow
        color: color_yellow
      &.html5
        color : color_html5 
      &.android
        color #97C03E
  /* ===================== BORDER=======================
  & .border
    & .theme
      border : 2px solid color*/

  /* ====================== FORM ====================== */
  & form, .form
    & input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea
      background-color: white
      color: rgba(0, 0, 0, 0.75)
      border: 1px solid #ddd
      box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1)
      &.error, &:required
        //border-color: color_cancel
        //color: color_cancel
        //background-color: rgba(198, 15, 19, 0.1)
      &:focus
        //background: #FAFAFA;
        //border-color: #B3B3B3;
        //color: rgba(0, 0, 0, 0.75)
      &.rounded
        border-radius: redounded 

  /* ====================== TABLE ====================== */
  & table
    background: #fff
    color: #333
    border: 1px solid #8F8F8D;
    border-radius 5px
    & tr
      &:nth-child(even) td
        background-color: #F9F9F9
    & th
      background-color: rgba(22, 166, 182, 0.9)
      color: #F8FF00;
      text-shadow(1px 1px 2px #000000 )
    & td
      &.highlight
        background-color: color !important
        color: #fff

  /* ====================== BUTTONS ====================== */
  & .button, button
    background-color: color
    color: white
    border-radius 1px
    box-shadow inset 0 1px 0 rgba(255,255,255,0.2)
    border: solid 1px rgba(0,0,0,0.1)
    &:active
      box-shadow inset 0 0 128px rgba(0,0,0,0.25)
      border-color: none
    &.secondary
      background-color: color_secondary
      color: #666
      text-shadow: 0 1px 0 rgba(255,255,255,0.25)
    &.accept
      background-color: color_accept
    &.cancel
      background-color: color_cancel
    &.transparent
      background: none !important
    &.green
      background-color : bck_green
    &.rounded
      border-radius: redounded 
    &.theme-2
      background-color #0B717E

  /* ====================== BUTTONS ====================== */
  // & :not(nav) > a:not(.button)
  & a
    color: color
    opacity: 0.9
    &:hover, &:active
      opacity: 1.0

/*************************ROUNDED*******************************/
.min-heigth_60px
  min-height : 60px 
