@import "__vendor.styl"
header
	max-height 50px

.logotipo
	background-color #ffffff
	position relative

.reds
	//background-color #ffffff
	&.fb
		color #3B5998
	&.youtube
		color #9E2623
	&.gplus
		color #BB3317
	&.twitter
		color #1BB2E9
	&.pinterest
		color #CD2126
	&.github
		color #333333
	&.github_white
		color #ffffff

.img_flex
	width : 100%
	-webkit-box-sizing:border-box
	-moz-box-sizing:border-box
	-o-box-sizing:border-box
	-ms-box-sizing:border-box
	box-sizing:border-box
.box-sizing
	box-sizing(border-box)

.no-hidden
	overflow:visible !important
.tittle
	position relative
	left -12%
.lazo
	position relative
	z-index 6
	min-height 150px
	&:before
		content: ' ' 
		position: absolute
		display block 
		height: 45px
		border-width: 50px
		border-style: solid 
		border-color: #232323 #232323 transparent 

	&:after
		content: ' ' 
		position: absolute 
		width: 0 
		height: 0 
		left: 0px 
		top: 100% 
		border-width: 5px 10px 
		border-style: solid 
		border-color: #666 #666 transparent transparent 

	& img 
		top 10px
		position relative
		left 15px
    
.fix
	overflow : hidden

.logo
	position : relative 
	&:before
		content: ' ' 
		position: absolute 
		width: 30px 
		height: 0 
		left: -30px 
		top: 12px 
		border-width: 20px 10px 
		border-style: solid 
		border-color: #999 #999 #999 transparent 

	&:after
		content: ' ' 
		position: absolute 
		width: 0 
		height: 0 
		left: 0px 
		top: 100% 
		border-width: 5px 10px 
		border-style: solid 
		border-color: #666 #666 transparent transparent 

.block 
	display : block !important

.paddingx0
	padding : 0 !important

#map
	height : 170px

#off-air-contact
	display : none 
.marco-foto
	&.rounded
		border-radius 15px
	&.white
		border: 2px dashed #fff;
	&.black
		border 2px dashed #000000
	&.theme
		 border: 3px dashed #16A6B6;

.rounded
	border-radius(15px)
.rounded-2
	border-radius 0 0 15px 15px !important
.rounded-bottom
	border-radius(0 0 15px 15px)
.rounded-top
	border-radius(15px 15px 0 0)
.rounded-pic-curso
	border-radius(0 15px 15px 15px)
.rounded-course
	border-radius(30px)
.rounded-left-teacher
	border-radius(80px 15px 0 15px )
.rounded-right-teacher
	border-radius(15px 80px 15px 0)
/***************** Web yetsu ****************************/
.perfect-rounded
	border-radius 50%;
.border-pic 
	border 4px solid #16A6B6 

.box-num
	width 60px
	height 60px
	z-index 2
	position relative
.box-center
	display block
	margin 0 auto 
.option-menu
	width 25px
	height 25px
	border 1px solid rgba(0,0,0,.8)
	&.select
		box-shadow(0 0 1px 2px black inset)
#footerHome
	position relative
